.home-comment-section {
  background-image: url('../../assets/images/bgcmt.jpg');
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
}

.comment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.comment-slider {
  max-width: 800px;
  margin: 0 auto;
}

.comment-item {
  text-align: center;
  /* color: white */
}

.comment-content {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* Default to column for better stacking on smaller screens */

  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #ffffff;
  max-width: 100%;
  min-height: 200px;

}

.comment-details {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.comment-content p {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;

}

.comment-avatar {

  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #079143;
}


.comment-text {
  max-width: 100%;
  padding: 0 20px;
}

.comment-rating {
  color: #f5c518;
  margin: 10px 0;
}

.comment-details .stars {
  display: flex;

}

/* Ngôi sao đầy đủ và ngôi sao rỗng */
.filled-star {
  color: #ffd700;
  font-size: 1.5rem;
}

.empty-star {
  color: #e0e0e0;
  font-size: 1.5rem;
}

.star {
  font-size: 18px;
}

.star.filled {
  color: #f5c518;
}

.comment-name {
  margin-top: 10px;
  font-weight: bold;
}

/* Responsive Styles */
@media (min-width: 576px) {
  .comment-content {
    flex-direction: row;
    /* Row layout for larger screens */
  }

  .customer-img {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .comment-text {
    padding: 0;
    max-width: 600px;
  }

}

@media only screen and (max-width: 767px) {
  .slick-prev {

    display: none !important;
  }

  .slick-next {

    display: none !important;
  }

}

@media (min-width: 768px) {
  .comment-slider {
    max-width: 700px;
  }


}

@media (min-width: 992px) {
  .comment-slider {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .home-comment-section {
    padding: 60px 0;
  }
}